.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-logo {
  height: 60px;
}

.marketing {
  margin-top: 60px;
  margin-bottom: 60px;
}

.btn-secondary {
  background: #1c54b2;
}

.portfolio-sites {
  margin-top: 60px;
}
